@import './keyframes.styl'
rem($px)
  $px / 37.5 rem
*
  margin: 0
  padding: 0
  box-sizing: border-box
html,
body
  width: 100%
  height: 100%
.loading
  position: absolute
  left: 50%
  top: 50%
  height: rem(150)
  transform: translate(-50%, -50%)
  .con
    position: absolute
    width: rem(75)
    height: rem(150)
    animation: cube-up-down 1s ease-in-out infinite alternate
  .cube-1
    position: absolute
    // width: 2em
    // height: 5em
    text-align: center
    transform: rotateX(-33deg) rotateY(45deg)
    transform-origin: rem(15) rem(15)
    transform-style: preserve-3d
    animation: cube-x-right 1.2s linear infinite
    // background: rgba(100, 100, 100, 1)
    .cube-side
      position: absolute
      width: rem(30)
      height: rem(30)
    .cube-side-front,
    .cube-side-back,
    .cube-side-left,
    .cube-side-right
      backface-visibility: hidden
      border: 1px solid
      border-image: linear-gradient(#ff1224, rgba(255, 18, 36, 0)) 2 100%
      border-top: none
      border-bottom: none
      height: rem(150)
    .cube-side-left
      backface-visibility: hidden
      transform: rotateY(-90deg) translateZ(rem(15))
    .cube-side-right
      transform: rotateY(90deg) translateZ(rem(15))
    .cube-side-top
      border: 1px solid rgba(255, 18, 36, 1)
      // transform: translateZ(18px)
      transform: rotateX(90deg) translateZ(rem(15))
    // transform: rotateX(90deg) translateZ(.5em);
    // background: rgba(255, 18, 36, .4)
    .cube-side-front
      transform: translateZ(rem(15))
    .cube-side-back
      transform: translateZ(rem(-15))
  .line
    position: absolute
    left: 50%
    top: 40%
    width: 1px
    height: rem(50)
    background: linear-gradient(rgba(255, 18, 36, .6), rgba(255, 18, 36, 0))
    animation: rians 1.2s linear infinite both
    &.line-1
      margin-left: rem(-50)
      margin-top: rem(-90)
      animation-duration: 1.5s
      animation-delay: .2s
    &.line-2
      margin-left: rem(-30)
      margin-top: rem(-80)
      animation-duration: 1s
      animation-delay: .1s
    &.line-3
      margin-left: rem(50)
      margin-top: rem(-75)
      animation-delay: .6s
      animation-duration: 1.4s
    &.line-4
      margin-left: rem(68)
      margin-top: rem(-90)
      animation-delay: .8s
  .progress-text
    position: absolute
    top: 55%
    left: 0
    margin-top: rem(70)
    width: 100%
    color: #ff1224
    font-size: rem(9)
    text-align: center
.welcome
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  transition background 1s linear 1s
  background rgba(255, 18, 36, 1)
  //.slongen
